<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>

   <!-- Run Point Cloud fusion node-->
   <node  name="point_cloud_fusion" pkg="point_cloud_fusion" type="point_cloud_fusion" clear_params="true" output="screen">


          <rosparam file="$(find point_cloud_fusion)/cfg/params.yaml"/>
          <rosparam file="/home/karrer/BoilerScanning/BOILER_8055_1027_144138/Scans/PTS_Data/initial_pose.yaml"/>

   </node>
</launch>
